* {
    margin: 0;
    font-family: Leelawadee UI, sans-serif;
}

body {
    background: #F8FFFF;
}

header {
    background: #003E6E;
    height: 90px;
    box-shadow: 0 0 20px 0 black;
}

.header-content {
    margin: 0 10px;
    font-family: Leelawadee UI, sans-serif;
}

#logo {
    width: 40px;
    padding-right: 10px;
}

.title {
    color: #FFBB00;
    font-size: 40px;
    font-family: Magneto, sans-serif;
}

.title-bar {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

nav ul li {
    all: unset;
    padding: 0 10px 0 0;
    font-size: 20px;
}

nav ul li a,
nav ul li span {
    text-decoration: none;
    color: #FFBB00;
    cursor: pointer;
}

.selected {
    text-decoration: underline;
}


main {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

h1 {
    font-weight: normal;
}

.error {
    color: red;
}

#loading {
    display: flex;
    margin: 20px auto 5px;
    align-items: center;
    width: 64px;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

@media screen and (min-width: 780px) {
    header {
        height: 140px;
    }

    .header-content {
        margin: 0 100px;
    }

    #logo {
        width: 64px;
    }

    .title {
        font-size: 60px;
    }

    .title-bar {
        display: flex;
        justify-content: flex-start;
    }

    nav {
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul li {
        padding: 0 20px;
        font-size: 36px;
    }

    main {
        margin: 60px 100px;
    }
}